

#opciones {
    display: inline-block;
    width: 20%;
    height: 100%;
    vertical-align: top;
    position: sticky;
    background-color: blueviolet;
    
}

#display {
    display: inline-block;
    width: 80%;
    height: 100%;
    vertical-align: top;
    position: relative;
    background-color: yellowgreen;
}